In [ ]:
%reload_ext autoreload
%autoreload 2

from dotenv import load_dotenv
from googleapiclient.discovery import build
import pandas as pd
from langdetect import detect
import os

from utils import  get_comments_for_video
load_dotenv()

True

# Variables setup

In [25]:
api_key = os.getenv("YOUTUBE_API_KEY")

In [26]:
#  Tesla Solar Roof (Examen du toit solaire Tesla : cela en valait-il la peine ?)
video_id = "UJeSWbR6W04"

In [27]:
# Build the YouTube client
youtube = build("youtube", "v3", developerKey=api_key)

# Get Comments

In [ ]:
# Commented out to prevent accidental execution, as it triggers a resource-intensive process: get_comments_for_video(youtube,video_id)

all_comments = [] # get_comments_for_video(youtube,video_id) #see utils.py

In [40]:
comments_df = pd.DataFrame(all_comments)

In [41]:
comments_df.head()

,id,comment,authorDisplayName,authorChannelUrl,likeCount,totalReplyCount,publishedAt,updatedAt,parentId
0,Ugw7KdFkoA-IFdrqT3l4AaABAg,So it appears Tesla found a bug in their app a...,@mkbhd,http://www.youtube.com/@mkbhd,5809,279,2023-08-19T14:35:19Z,2023-08-19T14:35:29Z,NaN
1,Ugw7KdFkoA-IFdrqT3l4AaABAg.9taoCpiyDBX9tapODS4ea6,Why didn’t you factor any SREC’s into your cal...,@merojeff,http://www.youtube.com/@merojeff,109,0,2023-08-19T14:45:37Z,2023-08-19T14:45:37Z,Ugw7KdFkoA-IFdrqT3l4AaABAg
2,Ugw7KdFkoA-IFdrqT3l4AaABAg.9taoCpiyDBX9taq5tIs_5q,Straight from Twitter link after you posted th...,@sreejithprakash13s36,http://www.youtube.com/@sreejithprakash13s36,26,0,2023-08-19T14:51:51Z,2023-08-19T14:51:51Z,Ugw7KdFkoA-IFdrqT3l4AaABAg
3,Ugw7KdFkoA-IFdrqT3l4AaABAg.9taoCpiyDBX9tavlulbzJW,"Yes, you cannot produce 350 kWh of energy in a...",@hbjigcc,http://www.youtube.com/@hbjigcc,91,0,2023-08-19T15:41:25Z,2023-08-19T16:43:20Z,Ugw7KdFkoA-IFdrqT3l4AaABAg
4,Ugw7KdFkoA-IFdrqT3l4AaABAg.9taoCpiyDBX9tb6z2kstCp,I may have missed it but don't you sell electr...,@nyemartin5737,http://www.youtube.com/@nyemartin5737,40,0,2023-08-19T17:28:04Z,2023-08-19T17:28:04Z,Ugw7KdFkoA-IFdrqT3l4AaABAg

In [42]:
comments_df.shape

(25832, 9)

# Save to CSV

In [43]:
csv_file = '../data/tesla_solar_roof_comments.csv'  
comments_df.to_csv(csv_file, index=False)

# Test

In [44]:
comments = pd.read_csv(csv_file)[["authorDisplayName","comment","likeCount"]]
comments.head()

,authorDisplayName,comment,likeCount
0,@mkbhd,So it appears Tesla found a bug in their app a...,5809
1,@merojeff,Why didn’t you factor any SREC’s into your cal...,109
2,@sreejithprakash13s36,Straight from Twitter link after you posted th...,26
3,@hbjigcc,"Yes, you cannot produce 350 kWh of energy in a...",91
4,@nyemartin5737,I may have missed it but don't you sell electr...,40